* {
    /*font-family: 微软雅黑;*/
    transition: 0.3s;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    /*font-family: 微软雅黑;*/
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

a.active {
    text-decoration: none;
}

.title {
    background-color: rgb(36, 41, 46);
    color: white;
    height: 50px;
    line-height: 50px;
}

.navi {
    background-color: #6f5499;
    height: 120px;
    width: 100%;
    top: 0px;
    z-index: 2000;
}

.nav-btn {
    position: absolute;
    margin-top: 40px;
    margin-left: 40px;

    width: 30px;
    height: 25px;
    border-top: 5px solid #2c3e50;
    border-bottom: 5px solid #2c3e50;
    background-color: #2c3e50;
    padding: 5px 0;
    background-clip:content-box;

}

@media (min-width: 725px) {
    .nav-btn {
        display: none;
    }
}

nav {
    width: 100%;
}

nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-flex;
    justify-content: center;
    color: #fcf9c4;
    height: 100%;
    line-height: 26px;
    /*font-weight: bold;*/
    font-size: 20px;
    /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-right: 1px solid;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 20px;
    margin-top: 40px;
}

nav ul li:last-child{
    border: none;
}

nav ul li a {
    color: #fcf9c4;
}

nav ul li a:hover, nav ul li a.active {
    /*color: #fcf9c4;*/
    color: white;
    transition: 0.3s; /*切换时间*/
    border-bottom: 2px solid #fcf9c4;
}

.logo {
    /*color: #fcf9c4;*/
    color: white;
    width: 400px;
    font-family: 华文行楷;
    font-size: 30px;
    width: 100%;
    text-align: center;
    padding-top: 40px;
}

.logo:hover, .logo.active, .logo:focus {
    /*color: #fcf9c4;*/
    color: white;
    text-decoration: none;
}

@media (min-width: 952px) {
    .logo {
        width: 40%;
        float: left;
        line-height: 120px;
        text-align: center;
        padding-top: 0;
    }

    nav {
        width: 60%;
        float: left;
        text-align: center;
        line-height: 120px;
    }
}




