a,
a:hover,
a:focus,
a:active,
a.active {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

hr.hr-light,
hr.hr-primary {
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px;
}

hr.hr-light:after,
hr.hr-primary:after {
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 2em;
    padding: 0 0.25em;
}

.img-responsive {
    height: 300px;
    background-color: transparent;
    margin: auto;
    border-radius: 20px;
}

header {
    text-align: center;
    background-color: #6f5499;
    color: white;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*text-transform: uppercase;*/
    font-weight: 500;
    font-size: 2em;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

@media (min-width: 768px) {
    header .container {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    header .intro-text .name {
        font-size: 3.25em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
}

section {
    padding: 100px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.aboutUs {
    background: #6f5499;
    color: white;
}

section.aboutUs a,
section.aboutUs a:hover,
section.aboutUs a:focus,
section.aboutUs a:active,
section.aboutUs a.active {
    color: #2c3e50;
    outline: none;
}

@media (max-width: 767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}


/*热门攻略*/
.hotRdItem {
    background: url(../images/banner.jpg) no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

.carousel-inner{
    padding-top: 40px;
    padding-bottom: 40px;
}

.hotRdItem-info {
    padding: 50px 0em;
    display: flex;
}

.hot-img {
    text-align: center;
}

@media (max-width: 992px) {
    .hot-info {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .hot-img {
        display: none;
    }
}

.hotRdItem h1 {
    font-size: 2.5em;
    font-weight: 400;
    color: #ffffff;
}

.hotRdItem p {
    font-size: 1.3em;
    font-weight: 400;
    color: #ffffff;
    line-height: 1.5em;
    margin: 1em 0em;
}

@media (min-width: 767px) {
    .hotRaiders .aboutUs-item {
        margin: 0 0 30px;
    }
}

.aboutUs .aboutUs-item {
    margin: 0 0 15px;
    right: 0;
}

.aboutUs .aboutUs-item .aboutUs-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

.aboutUs .aboutUs-item .aboutUs-link .caption {
    /*background: rgba(111, 84, 153, 0.9);*/
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
}

.aboutUs .aboutUs-item .aboutUs-link .caption:hover {
    opacity: 1;
}

.aboutUs .aboutUs-item .aboutUs-link .caption .caption-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: rgba(111, 84, 153, 1);
    font-weight: bold;
}

.aboutUs .aboutUs-item .aboutUs-link .caption .caption-content i {
    margin-top: -12px;
}

.aboutUs .aboutUs-item .aboutUs-link .caption .caption-content h3,
.aboutUs .aboutUs-item .aboutUs-link .caption .caption-content h4 {
    margin: 0;
}

.aboutUs * {
    z-index: 2;
}

@media (min-width: 767px) {
    .aboutUs .aboutUs-item {
        margin: 0 0 30px;
    }
}

.scroll-top {
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
    z-index: 1049;
}

.scroll-top .btn {
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: none;
}

.intro {
    font-size: 20px;
}

/*.item {*/
    /*border-radius: 20px;*/
/*}*/

.caption {
    border-radius: 20px;
}

.green {
    font-size: large;
    color: #18bc9c;
}

/**** Slider *****/
.wmuSlider {
    position: relative;
    overflow: hidden;
}

.wmuSlider .wmuSliderWrapper article img {
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
}

/* Default Skin */
.wmuSliderPagination {
    z-index: 2;
    position: absolute;
    right: 40%;
    bottom: 35px;
}

ul.wmuSliderPagination {
    padding: 0;
}

.wmuSliderPagination li {
    float: left;
    margin: 0 8px 0 0;
    list-style-type: none;
}

.wmuSliderPagination a {
    display: block;
    text-indent: -9999px;
    width: 0px;
    height: 0px;
    background: #fff51f;
}

.wmuSliderPagination a.wmuActive {
    /*background:#fb4d01;*/
    background: #6f5499;
}

/* Default Skin */
.wmuGallery .wmuGalleryImage {
    margin-bottom: 10px;
}

/*左右箭头*/
.wmuSliderPrev, .wmuSliderNext {
    position: absolute;
    width: 20px;
    height: 62px;
    text-indent: -9999px;
    background: url(../images/img-sprite.png) no-repeat;
    top: 45%;
    z-index: 2;
    cursor: pointer;
}

.wmuSliderPrev {
    background-position: -67px -203px;
    left: 20px;
    /*top: 230px;*/
}

.wmuSliderNext {
    background-position: -124px -202px;
    right: 20px;
    /*top: 230px;*/
}
