/*设置场景居中*/
.wall {
    position: relative;
    margin: auto;
    margin-top: 30px;
    height: 800px;
}

/*设置图片绝对定位，方便设置放置的位置，并设置所有属性的过渡时间为0.2s*/
.photo {
    position: absolute;
    display: block;
    max-width: 280px;
    max-height: 280px;
    padding: 10px 10px 20px;
    background: #fff;
    border: 1px solid #ddd;
    -webkit-transition: 0.2s;
}

/*鼠标悬浮时设置大小放大到1.2倍，并摆正，即Z轴方向的旋转角度为0*/
.photo:hover {
    -webkit-transform: scale(1.2) rotateZ(0);
    box-shadow: 10px 10px 5px #555;
    z-index: 2;
}

/*设置每个照片的位置和旋转角度*/
.img1 {
    left: 50px;
    top: 50px;
    -webkit-transform: rotateZ(20deg);
}

.img2 {
    left: 280px;
    top: 50px;
    -webkit-transform: rotateZ(5deg);
}

.img3 {
    left: 590px;
    top: 50px;
    -webkit-transform: rotateZ(-10deg);
}

.img4 {
    left: 860px;
    top: 50px;
    -webkit-transform: rotateZ(25deg);
}

.img5 {
    left: 220px;
    top: 250px;
    -webkit-transform: rotateZ(-2deg);
}

.img6 {
    left: 830px;
    top: 290px;
    -webkit-transform: rotateZ(-15deg);
}

.img7 {
    left: 490px;
    top: 240px;
    -webkit-transform: rotateZ(5deg);
}

.img8 {
    left: 50px;
    top: 480px;
    -webkit-transform: rotateZ(-5deg);
}

.img9 {
    left: 310px;
    top: 500px;
    -webkit-transform: rotateZ(5deg);
}

.img10 {
    left: 580px;
    top: 480px;
    -webkit-transform: rotateZ(-10deg);
}

.img11 {
    left: 830px;
    top: 500px;
    -webkit-transform: rotateZ(10deg);
}